<button style="float: right;margin-right: 30px; background: black;color: white;" class="btn" (click)="logout()">LogOut</button>

<div class="d-flex justify-content-center pt-5">
    <h1 class=""> Tasks </h1>
</div>
<!-- tasks.component.html -->
<div style="float: left;margin-left: 100px;">
    <!-- <div class="input-group">
        <div class="form-outline" data-mdb-input-init>
          <input type="search" id="form1" class="form-control" />
          <label class="form-label" for="form1">Search</label>
        </div>
        <button type="button" class="btn btn-primary" data-mdb-ripple-init>
          <i class="fas fa-search"></i>
        </button>
      </div> -->
    <!-- <button class="btn btn-danger" style="margin-left: 100px;">search bar</button> -->
    <input type="text" [(ngModel)]="searchQuery" placeholder="Search by title">

</div>
<div class="d-flex" style="float: right;margin-right: 100px;">
    <!-- <button class="btn btn-primary mx-2">Filter</button> -->
    <select class="form-select form-select-sm me-3 bg-primary" style="color: white;" aria-label=".form-select-sm example" (change)="changeEvent($event)">
        <option selected>Filter</option>
        <option value="All" (shange)="showAll()">All</option>
        <option value="Completed" (change)="showCompleted()">completed </option>
        <option value="Active" (change)="showActive()">Active</option>
      </select>
      <!-- <button (click)="showCompleted()">completed</button>
      <button (click)="showActive()">Active</button>
      <button (click)="showAll()">All</button> -->
    <button class="btn btn-primary" routerLink = "/savetask">AddTasks</button>
</div>
<div class="row mx-5" style="margin-top: 100px;background: yellow;width:25%">
    <div class="col">
        <strong>Title</strong>
    </div>
    <!-- <div class="col">
        <strong>Description</strong>
    </div> -->
    <!-- <div class="col">
        <strong>State</strong>
    </div> -->
</div>

<div *ngFor = "let task of searchTask()">
    <div class="col">
        <input type="checkbox" [checked]="task.state === 'completed'" (change)="toggleCompletion(task)">
        <a routerLink="/detail/{{task.id}}" style="text-decoration: none;"> {{task.title }} </a> 
    </div>
</div>

<div *ngFor="let task of filterTask" style="background: yellow;width: 25%;" class="row mx-5">
    <div class="col">
        <input type="checkbox" [checked]="task.state === 'completed'" (change)="toggleCompletion(task)">
        <a routerLink="/detail/{{task.id}}" style="text-decoration: none;"> {{task.title }} </a> 
    </div>
    <!-- <div class="col">
        {{ task.description }}
    </div> -->
    <!-- <div class="col">
        {{ task.state }}
    </div> -->
</div>





<!-- <div *ngFor="let task of tasks" class="task-tile">
    <h3>{{ task.title }}</h3>
    <p>{{ task.description }}</p>
    <input type="checkbox" [checked]="task.state === 'completed'" (change)="toggleCompletion(task)">
  </div> -->

    <!-- <div>
        <ol>Task 
            <li>Title : {{task.title}}
            Description: {{task.description}}
            State: {{task.state}}</li>
        </ol> -->
        <!-- <div> </div>
    <div> </div>
    <div> </div> -->
    <!-- </div>
     -->
