<div class="d-flex align-items-center justify-content-center" >
    <form (ngSubmit)="addUser()" class="mt-5">
      <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label fw-bold">UserName </label>
          <input type="text" class="form-control" name="name" required id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="newUser.name">
        </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label fw-bold">Email</label>
        <input type="email" class="form-control" name="email" required id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="newUser.email">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label fw-bold" >Password</label>
        <input type="password" class="form-control" name="password" min="6" max="6" id="exampleInputPassword1" required [(ngModel)]="newUser.password">
      </div>
      <button type="submit" class="btn btn-primary me-5">Register</button>
      <button class="btn btn-primary mx-5" routerLink="/login">Login</button>
  
    </form>
  </div>